body {
    line-height: 1.6;
}

.intro {
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
    color: #F5F7FA;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

main {
    margin-top: 50px;
    padding: 0 20px;
}

form {
    background-color: #222222;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0px 10px 0 #F5F7FA;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #F5F7FA;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #222222;
    outline: none;
    color: #F5F7FA;
    box-shadow: 0px 0px 4px 0px #C9A646;
}

input:focus, textarea:focus {
    color: #F5F7FA;
}

input::placeholder, textarea::placeholder {
    color: #C9A646;
}

input[type="submit"] {
    background-color: #2e8b57;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

textarea {
    width: 100%;
    height: 24%;
    padding: 2%;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .intro p {
        font-size: 16px;
    }

    form {
        padding: 20px;
    }

    input[type="submit"] {
        width: auto;
    }
}