.sobre, .servicos {
    text-align: center;
    padding: 53px 20px;
}

.sobre h2, .servicos h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #F5F7FA;
}

.div_sobreNos,
.nossos_servicos {
    background: #222222;
    box-shadow: 0px 0px 8px 4px #C9A646;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre p {
    font-size: 1rem;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
    color: #F5F7FA;
}

.servicos ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.servicos li {
    font-size: 1rem;
    background: #fff;
    color: black;
    padding: 10px;
    margin: 10px auto;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(32, 178, 170, 0.5);
}


@media (max-width: 992px) {
    .sobre h2, .servicos h2 {
        font-size: 1.8rem;
    }

    .servicos li {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .sobre p {
        font-size: 0.95rem;
    }

    .servicos li {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .sobre h2, .servicos h2 {
        font-size: 1.6rem;
    }

    .sobre p {
        font-size: 0.9rem;
    }

    .servicos li {
        font-size: 0.95rem;
        padding: 8px;
    }
}

@media (max-width: 430px) {
    .sobre h2, .servicos h2 {
        font-size: 1.4rem;
    }

    .servicos li {
        padding: 7px;
    }

    .sobre p {
        font-size: 0.85rem;
    }
}
