* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: #222222;
}

.sidebar {
    width: 250px;
    background: #222222;
    color: #F5F7FA;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 8px 2px #C9A646;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar .logo h1 {
    color: #ecf0f1;
    font-size: 24px;
    font-weight: bold;
}

.sidebar .greeting {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar nav h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar .menu-list {
    list-style: none;
    padding: 0;
}

.sidebar .menu-list .menu-item {
    text-decoration: none;
    color: white;
    padding: 12px;
    display: block;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    transition: background 0.3s;
}

.sidebar .menu-list .menu-item:hover {
    background: #34495e;
}

.content {
    margin-left: 250px;
    padding: 30px;
    background: #ecf0f1;
    overflow-y: auto;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.header-content h1 {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 18px;
    color: #7f8c8d;
}

.dashboard-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    text-align: center;
}

.card h3 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: #2980b9;
}

@media (max-width: 768px) {
    .generate-xml-container {
        margin-left: 0;
        margin-top: 40px;
        padding: 20px;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .xml-link {
        margin-left: auto;
        margin-right: auto;
    }

    #generateXMLClient {
        justify-content: center;
    }
}

.generate-xml-container {
    margin-left: 50%;
    margin-top: 10%;
    padding: 30px;
    height: 100vh;
}

.generate-xml-container span {
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
    color: #F5F7FA;
}

.generate-xml-container button {
    padding: 10px 20px;
    background-color: #222222;
    color: #F5F7FA;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 4px 4px #C9A646;
}

.generate-xml-container button:hover {
    transform: translateY(-5px);
}

#generateXMLClient {
    display: flex;
    justify-content: center;
}

.xml-link {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #2980b9;
    border-radius: 8px;
    width: fit-content;
    color: #2c3e50;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.xml-link a {
    color: white;
    text-decoration: none;
}

.xml-link a:hover {
    text-decoration: underline;
}

