body {
    background-color: #222222;
    color: #F5F7FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #F5F7FA;
    font-weight: 700;
}

form {
    background-color: #222222;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 4px 4px 4px #C9A646;
    transition: transform 0.3s ease;
}

form:hover {
    transform: translateY(-5px);
}

a {
    text-decoration: none;
    color: #F5F7FA;
}

a:hover {
    color: #C9A646;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: left;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    background: #222222;
    color: #F5F7FA;
    outline: none;
    box-shadow: 0px 0px 4px 0px #C9A646;
    border-radius: 8px;
    font-size: 1.1em;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

input::placeholder {
    color: #C9A646
}

button {
    background-color: #2e8b57;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1.2em;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:active {
    background-color: #2c6e49; 
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    form {
        padding: 20px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 1em;
        padding: 10px;
    }

    button {
        font-size: 1.1em;
        padding: 12px 20px;
    }
}