* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray-light);
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;
}

.form-container {
  border-radius: 20px;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#hide_address {
  width: 5%;
  box-shadow: none;
}

.section {
  background-color: var(--blue-dark);
  border-radius: 12px;
  padding: 25px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 0px 4px 1px #C9A646;
}

.section h3 {
  font-size: 18px;
  color: #0077cc;
  margin-bottom: 10px;
  font-weight: 500;
  border-left: 4px solid #0077cc;
  padding-left: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input,
textarea {
  padding: 12px 15px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  width: 100%;
  background-color: rgba(255,255,255,0.08);
  outline: none;
  color: #F5F7FA;
  transition: 0.3s ease;
  box-shadow: 0px 0px 4px 1px #F5F7FA;
}

select {
  padding: 12px 15px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  width: 100%;
  background: var(--blue-dark);
  color: var(--gray-light);
  outline: none;
  transition: 0.3s ease;
  box-shadow: 0px 0px 4px 1px #F5F7FA;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0px 0px 4px 1px #C9A646;
}

.group_label,
.optional {
  color: #F5F7FA;
}

.title {
  text-align: center;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

button {
  background: rgba(255,255,255,0.08);
  color: #F5F7FA;
  padding: 15px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease;
}

@media (max-width: 1024px) {
  body {
    justify-content: center;
    padding: 25px 10px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 20px 10px;
    flex-direction: column;
  }

  .form-container {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 15px 5px;
  }

  .form-container {
    padding: 10px;
  }

  .section {
    padding: 20px;
    gap: 15px;
  }

  .section h3 {
    font-size: 17px;
  }
}

.preview-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper img {
    width: 100px;
    max-height: 60px;
    border-radius: 4px;
    object-fit: cover;
}

.counter {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.counter button {
  font-size: 18px;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#buttons {
    background-color: rgba(255,255,255,0.08);
    color: #F5F7FA;
    padding: 15px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 10%;
    box-shadow: 0px 0px 4px 1px #C9A646;
    transition: 0.3s ease;
}

#rooms, #suites, #bathrooms, #garage {
  width: 20%;
  text-align: center;
}

.rooms, .suites, .bathrooms, .garage {
  text-align: center;
  margin-bottom: 2%;
}

.remove-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    background: rgba(255, 0, 0, 0.85);
    color: #fff;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: 0.15s ease;
    user-select: none;
    border: none;
}

.image-wrapper:hover .remove-btn {
    opacity: 1;
}
