* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;
}

.form-container {
  border-radius: 20px;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  background-color: #222222;
  border-radius: 12px;
  padding: 25px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 0px 4px 1px #C9A646;
}

.section h3 {
  font-size: 18px;
  color: #0077cc;
  margin-bottom: 10px;
  font-weight: 500;
  border-left: 4px solid #0077cc;
  padding-left: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input,
select,
textarea {
  padding: 12px 15px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  width: 100%;
  background-color: #222222;
  outline: none;
  color: #F5F7FA;
  transition: 0.3s ease;
  box-shadow: 0px 0px 4px 1px #F5F7FA;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0px 0px 4px 1px #C9A646;
}

input::placeholder,
textarea::placeholder {
  color: #C9A646;
}

.group_label,
.optional {
  color: #F5F7FA;
}

.title {
  text-align: center;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

button {
  background-color: #222222;
  color: #F5F7FA;
  padding: 15px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 0px 4px 1px #C9A646;
  transition: 0.3s ease;
}

button:hover {
  box-shadow: 0px 0px 6px 2px #C9A646;
}


@media (max-width: 1024px) {
  body {
    justify-content: center;
    padding: 25px 10px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 20px 10px;
    flex-direction: column;
  }

  .form-container {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 15px 5px;
  }

  .form-container {
    padding: 10px;
  }

  .section {
    padding: 20px;
    gap: 15px;
  }

  .section h3 {
    font-size: 17px;
  }
}
