@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--gray-light);
    padding: 30px;
    overflow-x: hidden;
}

.generate-xml-container {
    width: 100%;
    max-width: 500px;
    margin: 10% auto 0 auto;
    padding: 35px;
    background: var(--blue-dark);
    text-align: center;
    border-radius: 12px;
}

.generate-xml-container span {
    font-size: 22px;
    color: #F5F7FA;
    margin-bottom: 25px;
    display: block;
}

#generateXMLClient {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#partners {
    color: var(--gray-light);
    background: var(--blue-dark);
    outline: none;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    height: 2rem;
    cursor: pointer;
    font-size: 15px;
}

#partners:hover {
    transition: all 0.5s ease;
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px var(--purple);
}

#generate-btn {
    padding: 12px 26px;
    background-color: var(--blue-dark);
    color: var(--gray-light);
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 2px 1px var(--purple);
}

#generate-btn:hover {
    transform: translateY(-4px);
}

.xml-link {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #2980b9;
    border-radius: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.xml-link a {
    color: white;
    text-decoration: none;
}

.xml-link a:hover {
    text-decoration: underline;
}

#xmlLink {
    width: 60%;
    height: 3rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#copyBtn {
    height: 2rem;
    width: 6%;
    border: none;
    outline: none;
    background: #22222222;
    color: #F5F7FA;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .generate-xml-container {
        max-width: 80%;
        margin-top: 15%;
    }
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .generate-xml-container {
        max-width: 95%;
        margin-top: 20%;
        padding: 25px;
    }

    #generate-btn {
        width: 100%;
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 430px) {
    .generate-xml-container {
        margin-top: 25%;
        padding: 20px;
    }

    .generate-xml-container span {
        font-size: 18px;
    }

    #generate-btn {
        font-size: 15px;
    }
}
