* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #222222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 15px 20px;
    box-shadow: 0 4px 4px 0 #C9A646
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}