body {
    background-color: #222222;
    color: #F5F7FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    text-align: center;
}

h1 {
    font-size: 2.3em;
    margin-bottom: 20px;
    font-weight: 700;
}

form {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0px 4px 10px rgba(201, 166, 70, 0.4);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

form:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 14px rgba(201, 166, 70, 0.6);
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1em;
    text-align: left;
    color: #F5F7FA;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: none;
    background: #222222;
    color: #F5F7FA;
    outline: none;
    border-radius: 8px;
    font-size: 1.1em;
    box-shadow: 0px 0px 5px rgba(201, 166, 70, 0.5);
    transition: 0.3s ease;
    box-sizing: border-box;
}

input:focus {
    box-shadow: 0px 0px 10px rgba(201, 166, 70, 0.8);
}

input::placeholder {
    color: #C9A646;
}

button {
    background-color: #2e8b57;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1.2em;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #45a49b;
}

button:active {
    background-color: #2c6e49;
}

/* LINK */
a {
    color: #F5F7FA;
    text-decoration: none;
}

a:hover {
    color: #C9A646;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {

    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    form {
        padding: 20px;
    }

    label {
        font-size: 1em;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 1em;
        padding: 10px;
    }

    button {
        font-size: 1.05em;
        padding: 12px 18px;
    }
}

@media (max-width: 768) {

    h1 {
        font-size: 1.8em;
    }

    form {
        padding: 5px;
        border-radius: 10px;
    }

    button {
        font-size: 1em;
        padding: 10px 16px;
    }
}